<div class="panel panel-default">
  <div class="panel-body">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="{{ml('BoardTitleHint')}}" ng-model="newBoardName" on-enter="addBoard();">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-disabled="!newBoardName" ng-click="addBoard();"><i class="fa fa-plus"></i> {{ml("Add")}}</button>
      </span>
    </div>
  </div>
</div>
<div class="panel panel-default" ng-repeat="board in boards">
  <div class="panel-body">
    <a href="#/board/{{board.Id}}">{{board.Name}}</a>
    <div class="pull-right">
      <div class="btn-group" role="group" aria-label="...">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-pencil-square-o"></i> {{ml("Users")}}
        </button>
        <ul id="{{'menu' + board.Id}}" class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="user in users"><a href="" ng-click="addUser(board, user);"><i class="fa fa-check pull-right" ng-show="includes(board.Users, user, 'Id')"></i>{{user.Name}}</a></li>
        </ul>
        <button type="button" class="btn btn-danger" ng-click="deleteBoard(board)"><i class="fa fa-times"></i> {{ml("Delete")}}</button>
      </div>
    </div>
  </div>
</div>
