<div class="center-form panel center-block" style="width:400px">
  <div class="panel-body">
    <h2 class="text-center">{{vm.ml('ChangePassword')}}</h2>
    <form method="post" ng-submit="vm.save()" name="vm.changePasswordForm">
      <div class="form-group has-feedback">
        <div class="input-group" ng-class="{ 'has-error': vm.changePasswordForm.oldPassword.$touched && vm.changePasswordForm.oldPassword.$invalid }">
          <span class="input-group-addon">
            <i class="fa fa-key"></i>
          </span>
          <input class="form-control input-lg" type="password" name="oldPassword" ng-model="vm.user.OldPassword" placeholder="{{vm.ml('OldPassword')}}" ng-minlength="4" ng-maxlength="50" required>
        </div>
        <validation-message model="vm.changePasswordForm.oldPassword" field-name="{{vm.ml('OldPassword')}}"></validation-message>
      </div>
      <div class="form-group has-feedback">
        <div class="input-group" ng-class="{ 'has-error': vm.changePasswordForm.password.$touched && vm.changePasswordForm.password.$invalid }">
          <span class="input-group-addon">
            <i class="fa fa-key"></i>
          </span>
          <input class="form-control input-lg" type="password" name="password" ng-model="vm.user.NewPassword" placeholder="{{vm.ml('Password')}}" ng-minlength="4" ng-maxlength="50" required>
        </div>
        <validation-message model="vm.changePasswordForm.password" field-name="{{vm.ml('Password')}}"></validation-message>
      </div>
      <div class="form-group has-feedback">
        <div class="input-group" ng-class="{ 'has-error': vm.changePasswordForm.confirmPassword.$touched && vm.changePasswordForm.confirmPassword.$invalid }">
          <span class="input-group-addon">
            <i class="fa fa-key"></i>
          </span>
          <input password-match="vm.user.NewPassword" class="form-control input-lg" type="password" name="confirmPassword" ng-model="vm.user.confirmPassword" placeholder="{{vm.ml('ConfirmPassword')}}" ng-minlength="4" ng-maxlength="50" required>
        </div>
        <div class="help-block" ng-messages="vm.changePasswordForm.confirmPassword.$error" ng-if="vm.changePasswordForm.confirmPassword.$touched">
          <p text-danger ng-message="compareTo">{{vm.ml('InvalidMatchMessage').format(vm.ml('Password'))}}</p>
        </div>
      </div>
      <button type="submit" ng-disabled="vm.loading || vm.changePasswordForm.$invalid" class="btn btn-lg  btn-block btn-success">{{vm.ml('Save')}}</button>
    </form>
  </div>
</div>
